{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": {"version": 3, "proposals": true},
        "targets": {
          "node": "current"
        },
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
